<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sign in to the Benevolence App</h1>
    <p>
      <%= @person.first_name %>, sign in by following the login link below.
    </p>
    <p>
      <%= @url %>
    </p>
  </body>
</html>
