<div class="container">
    <div class="header">
        <%= image_tag attachments["logo.png"].url, alt: "Benevolence App" %>
        <h2>Sign in to the Benevolence App</h2>
    </div>

    <div class="main-content" style="font-size:16px">
        <p>Welcome!</p>
        <p>Use the button below to login to the Benevolence App.</p>
        <a href="<%= @url %>" class="button" style="text-decoration: none; color: #ffffff">Login Now</a>
        <br />
        <br />
        <p>Login Link URL:</p>
        <a href="<%= @url %>"><%= @url %></a>
    </div>

    <div class="footer">
        Questions? Simply Reply To This Email!
    </div>
</div>
