<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sign in to the Benevolence App</h1>
    <p>
      Welcome! Use the login link below to sign in to the Benevolence App.
    </p>
    <p>
      <%= @url %>
    </p>
  </body>
</html>
