<div class="container">
    <div class="header">
        <%= image_tag attachments["logo.png"].url, alt: "Benevolence App" %>
        <h2>Welcome to the Benevolence App!</h2>
    </div>

    <div class="main-content" style="font-size:16px">
        <p>Hello <%= @person_name %>,</p>
        <p>
        Your organization is now setup to use the Benevolence App! With the Benevolence App, you can
        equip your people to provide benevolence care for those in your organization:
        </p>
        <ul>
            <li>Create a benevolence request (Donation, Meal, or Service)</li>
            <li>Login and sign up to be a provider for a request</li>
            <li>Get reminded of a request when it's almost due</li>
            <li>Serve!</li>
            <li>Get a "Thank You" email afterwards</li>
        </ul>
        <p>
        May the Benevolence App help you as you care for your people. If you have any suggestions for this app,
        please email us at <a href="mailto:suggestions@benevolenceapp.com" style="text-decoration: none; color: #ffffff">suggestions@benevolenceapp.com</a>!
        </p>

        <p>Grace &amp; Peace,<br>Hayden Lane</p>
    </div>

    <div class="footer">
        Questions? Simply Reply To This Email!
    </div>
</div>
