<div class="container">
    <div class="header">
        <%= image_tag attachments["logo.png"].url, alt: "Benevolence App", style: "max-width: 150px;" %>
        <h2>Sorry to see you go!</h2>
    </div>

    <div class="main-content">
        <p>Hello <%= @recipient_name %>,</p>
        <p>
        Your organization has been deleted from the Benevolence App. Thank you very much for 
        using this app, and I hope that it was beneficial as you used it.
        </p>
        <p>
        If you have any reasons as to why you canceled your account, would you mind letting me know? 
        I am always looking for ways to improve this app for others!
        </p>

        <p>Grace &amp; Peace,<br>Hayden Lane</p>
    </div>

    <div class="footer">
        Questions? Simply Reply To This Email!
    </div>
</div>
